---
name: Tests

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    name: Build debian package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: Build debian packages
        run: ./build.sh
